/*common*/
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
list-style-type: none;
}
.container {
    width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
}

img {
    display: block;
}

/*common*/

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

/*header*/

.header {
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
display: flex;
align-items: center;

}

.logo {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.header-logo .span-logo {
color: #2e2f42;
}

.header-logo{
 display: block;
padding-top: 24px;
    padding-bottom: 24px;
}

.header-nav {
color: #2e2f42;
display: flex;
align-items: center;
}


.header-list {
    display: flex;
    gap: 40px;
    margin-right: 332px;

}


.header-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.header-address {
font-style: normal;
display: flex;
}

.address-list {
    display: flex;
    gap: 40px;
}

.header-contacts {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
       
}

.header-link {
    color: #2E2F42;
}

.current {
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:focus,
.header-link:hover {
    color: #404bbf;
}
.header-contacts:hover,
.header-contacts:focus {
color: #404bbf;

}

.current::after {
content: "";
display: block;
background-color: #404bbf;
width: 100%;
height: 4px;
border-radius: 2px;
position: absolute;
bottom: -1px;
}

/*header*/

/*main*/
/*section 1*/




.first-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin: 0 auto;
}

.title {
font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto 48px;
}

.service-button {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4d5ae5;
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
margin: 0 auto;
display: block;
border: none;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                
}

.service-button:hover,
.service-button:focus {
        background-color: #404bbf;
        cursor: pointer
}
/*section 1*/

/*section 2*/
/* ? */

.second-section {
padding-top: 120px;
padding-bottom: 120px;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* ? */

.second-section-list {
    display:flex;
    gap: 24px;
}

.second-section-items {
width: calc((100% - 72px) / 4);
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: #f4f4fd;
width: 264px;
height: 112px;
margin-bottom: 8px;

}

.second-section-title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.second-section-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/*section 2*/

/*section 3*/
.third-section {
    background-color: #f4f4fd;
    padding-bottom: 120px;
    padding-top: 120px;
}

.third-section-list {
display: flex;
gap: 24px;
justify-content: space-around;
}

.third-section-item {
background-color: #FFFFFF;
border-radius: 0 0 4px 4px;
width: 264px;
height: 428px;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);           
}

.title-header { /*also used on section header 4*/
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.third-section-info{
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}


.third-section-header {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
    color: #2e2f42;
    margin-bottom: 8px;
}

.third-section-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        
}

.link-list {
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
margin-top: 8px;
}

.social-media {

background-color: #4d5ae5;
border-radius: 50%;
width: 40px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.social-media:hover,
.social-media:focus {
    background-color: #404BBF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}




/*section 3*/

/*section 4*/

.fourth-section {
padding-top: 120px;
padding-bottom: 120px;
}

.fourth-section-item {
    width: calc((100% - 48px) / 3);
    max-width: 100%;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        
}

.fourth-section-info{
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        border-top: none;
}

.fourth-section-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.fourth-section-list {
display: flex;
gap: 48px 24px;
flex-wrap: wrap;
justify-content: center;
}

.portfolio-overlay {
    position: relative;
        overflow: hidden;
        


}

.fourth-section-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.fourth-section-item:hover .overlay-text{
    transform: translateY(0);
}

.overlay-text{
    position: absolute;
        transform: translateY(100%);
        transition: transform 250ms ease;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        top: 0;
        left: 0;
        width: 360px;
        height: 300px;
        padding: 40px 32px;
        background-color: #4D5AE5;
    
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

 .fourth-section-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/*section 4*/
/*main*/

/*footer*/

.footer {
background-color: #2e2f42;
padding: 100px 0px;
}

.footer-container {
display: flex;
    align-items: baseline;
}

.footer-logo-container {
margin-right: 120px;
}

.footer-logo{
  display: inline-block;
  margin-bottom: 16px;
}


.footer-logo .span-logo {
 color: #f4f4fd;
}

.footer-text {
font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;   
}

.footer-media-text {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-media {
    width: 208px;
        height: 80px;
}

.footer-link-list {
display: flex;
    justify-content: center;
    align-items: center;
    width: 208px;
    gap: 16px;
}

.footer-social-media {
    background-color: #4d5ae5;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
}
.footer-social-media:hover,
.footer-social-media:focus {
    background-color: #31D0AA;
}

.svg-media {
    fill: #f4f4fd;
}

/*footer*/